<launch>
    <node pkg="limo_application" name="stop" type="stop.py"/>
    <node pkg="limo_application" name="control" type="control.py">
        <remap from="cmd_vel" to="limo/cmd_vel"/>
    </node>
    <node pkg="limo_application" name="Line_detect" type="Line_detect.py">
        <remap from="camera/rgb/image_raw/compressed" to="limo/color/image_raw/compressed"/>
    </node>
</launch>